Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
out
build
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.vscode
.idea
*.pem
coverage/
