@import "tailwindcss";
@import "tw-animate-css";
 
@theme {
  --color-primary: var(--primary_color);
  --color-primary-hover: color-mix(in srgb, var(--primary_color), black 15%);
  --color-primary-light: color-mix(in srgb, var(--primary_color), white 90%);
  --color-primary-transparent: color-mix(in srgb, var(--primary_color), transparent 85%);

  --color-secondary: var(--secondary_color);
  --color-secondary-hover: color-mix(in srgb, var(--secondary_color), black 15%);
  --color-secondary-light: color-mix(in srgb, var(--secondary_color), white 90%);
  --color-secondary-transparent: color-mix(in srgb, var(--secondary_color), transparent 85%);

  --font-sans: var(--font-cairo), var(--font-ibm-plex), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }

  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
  }
}

@custom-variant dark (&:is(.dark *));

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Elegant Scrollbar for horizontal scrolling lists */
.styled-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}