@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: var(--primary-color);
  --color-primary-hover: color-mix(in srgb, var(--primary-color), black 15%);

  --color-secondary: var(--secondary-color);
  --color-secondary-hover: color-mix(in srgb, var(--secondary-color), black 15%);

  --font-sans: var(--font-ibm-plex), var(--font-cairo), ui-sans-serif, system-ui,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
 
@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
@media print {
  @page {
    margin: 0;  
    size: auto;
  }
  body {
    margin: 0;  
    -webkit-print-color-adjust: exact;  
  }
}
@custom-variant dark (&:is(.dark *));
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}